@import '../../../scss/abstracts/mixins';
@import '../../../scss/abstracts/variables';

.stars {
  display: flex;
  cursor: pointer;
  margin-left: 0.4rem;
}

.star {
  background: center/cover url('../../../assets/img/star.svg');
  width: 1.32rem;
  height: 1.56rem;
  margin-right: 0.4rem;
  // background-color: var(--dark-grey);
}
