@import '../../../scss/abstracts/mixins';
@import '../../../scss/abstracts/variables';

.logo {
  padding: 0 2rem 0 1rem;
  display: block;

  div {
    height: 5rem;
    width: 5rem;
    background: center/cover url('../../../img/logo-72x72.png');
  }
}
