.form {
  &__label {
    font-weight: 700;
    color: var(--dark-grey-blue-color-2);
    font-size: 1.3rem;
    max-width: 100%;
    line-height: 1.8rem;

    &--dark-grey-blue-color-2 {
      color: var(--dark-grey-blue-color-2);
    }
  }

  &__input {
    height: 3.4rem;
    padding: 0.6rem 1.2rem;
    font-size: 14px;
    border: 2px solid var(--light-grey-color-3);
    border-radius: 0.4rem;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    color: var(--grey-color);

    &:focus {
      border-color: #9147ff;
      outline: 0;
    }
  }

  &__cell {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}
