.navbar {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 2rem;
  align-items: center;
  height: 100%;

  @include respondMax(tabletL) {
    margin-top: 0;
    transition: all 1s;
    padding: 1rem;

    &--collapsed {
      margin-top: -100%;
    }
  }

  &__list {
    list-style: none;
    height: 100%;

    display: flex;

    @include respondMax(tabletL) {
      flex-direction: column;
      align-items: start;
      gap: 1rem;
    }
  }

  &__item {
    display: flex;
    position: relative;

    @include respondMax(tabletL) {
      flex-direction: column;
    }
  }

  &__link:link,
  &__link:visited {
    font-size: 1.2rem;
    color: var(--white-color);
    text-decoration: none;
    text-transform: uppercase;

    display: flex;
    align-items: center;
    padding: 0 1.5rem;

    @include respondMax(tabletL) {
      padding: 1rem 1.5rem;
      height: 4rem;
    }
  }

  &__link:hover,
  &__link:active {
    color: var(--dark-primary-color);

    .navbar__icon,
    .navbar__caret {
      fill: var(--dark-primary-color);
    }
  }

  &__link--primary {
    background: var(--primary-color);

    &:hover,
    &:active {
      color: var(--white-color);

      .navbar__icon,
      .navbar__caret {
        fill: var(--white-color);
      }
    }
  }

  &__content {
    display: flex;
    gap: 0.4rem;
  }

  &__icon,
  &__caret {
    height: 1.3rem;
    fill: var(--white-color);
  }

  &__icon {
    &--games {
      width: 1.5rem;
    }

    &--database {
      width: 1.5rem;
    }

    &--community {
      width: 1.5rem;
    }

    &--help {
      width: 1.5rem;
    }
  }

  &__caret {
    width: 0.7rem;
  }

  &__burger {
    margin: 0.8rem 1rem;
    padding: 0.9rem 1rem;
    border: 1px solid var(--dark-grey-color);
    background: inherit;
    cursor: pointer;

    &:hover {
      background: var(--dark-grey-color);
    }
  }

  &__line {
    width: 2.2rem;
    height: 0.2rem;
    background: var(--white-color);

    &:not(:first-child) {
      margin-top: 0.4rem;
    }
  }

  &__container {
    @include respondMax(tabletL) {
      grid-column: 1 / -1;
      grid-row: 3;
      border-top: 1px solid var(--dark-grey-color-2);
      box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
      overflow: hidden;
    }
  }

  &__search {
    @include respondMax(tabletL) {
      align-self: start;
    }
  }
}
