.table {
  border-color: gray;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  background: var(--white-color);
  font-size: 1.3rem;
  line-height: 1.8rem;
  vertical-align: middle;

  th,
  td {
    &:nth-child(1) {
      text-align: center;
    }

    &:nth-child(2) {
      width: 1%;
      white-space: nowrap;
      display: none;

      @include respondMin(laptopS) {
        display: table-cell;
      }
    }

    &:nth-child(3) {
      text-align: left;
    }

    &:nth-child(4) {
      text-align: right;
    }
  }

  thead {
    background: var(--light-grey-color-4);
    color: var(--dark-grey-blue-color-2);

    th {
      padding: 1.5rem 1rem;
      font-weight: 400;
      border-bottom: 1px solid var(--light-grey-color-3);
      color: rgba(0, 0, 0, 0.57);
    }
  }

  tbody {
    td {
      padding: 0.5rem;
      border-top: 1px solid var(--light-grey-color-3);
    }
  }

  &__number,
  &__score {
    margin: 1rem 0;
    line-height: 1.7rem;
    font-size: 1.6rem;
  }

  &__number {
    font-weight: 700;
  }

  &__score {
    font-weight: 400;
  }

  &__game-cover {
    img {
      width: 4rem;
      object-fit: cover;
      display: block;
    }
  }

  &__stub {
    width: 4rem;
    height: 5.3rem;
    background: var(--grey-color);
  }

  &__game-name {
    a:link,
    a:visited {
      text-decoration: none;
      color: var(--primary-color);
    }

    a:hover,
    a:active {
      text-decoration: underline;
    }
  }

  &__rating {
    margin: 0.5rem 0;
    display: flex;

    span {
      font-size: 1.1rem;
      line-height: 1.5rem;
    }
  }

  &__stars {
    display: flex;
    cursor: pointer;
    margin-left: 0.4rem;
  }
}
