:root {
  --dark-grey-blue-color: #323a45;
  --dark-grey-blue-color-2: #34373b;
  --dark-grey-blue-color-3: #333232;
  --dark-grey-color: #333;
  --dark-grey-color-2: #232930;
  --grey-color: #555;
  --medium-dark-color-1: #8c8c8c;
  --medium-dark-color-2: #adadad;
  --medium-dark-color-3: #858585;
  --light-grey-color-1: #fafafa;
  --light-grey-color-2: #ececec;
  --light-grey-color-3: #ddd;
  --white-color: #fff;
  --primary-color: #9147ff;
  --dark-primary-color: #7313ff;

  --width-page: 115.2rem;
}
