$light-grey-color: #f3f4f6;
$grey-color: #939393;
$dark-grey-color: #333;

.error {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  background-color: $light-grey-color;
  position: relative;
  height: 100vh;

  &__dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 45rem;
  }

  p {
    margin: 1.7rem 0;
    padding: 0 5%;
  }

  &__title {
    color: $dark-grey-color;
    font-size: 2rem;
  }

  &__title ~ p {
    color: $grey-color;
    font-size: 1.7rem;
  }

  &__redirect {
    margin-top: 5rem;
  }

  &__link:link,
  &__link:active {
    font-size: 1.2rem;
  }
}
