.header {
  font-family: 'Poppins', sans-serif;
  color: var(--white-color);

  max-width: var(--width-page);
  margin: 0 auto;

  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: 5rem;
  // column-gap: 2rem;

  @include respondMax(laptopXS) {
    grid-template-columns: auto 1fr;
    grid-template-rows: 5rem auto;
  }

  &__logo {
    padding: 0 2rem 0 1rem;
    display: block;

    div {
      height: 5rem;
      width: 5rem;
      background: center/cover url('../img/logo-72x72.png');
    }
  }

  &__login:link,
  &__login:visited {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0 1.5rem;
    height: 5rem;

    background: var(--primary-color);
    font-size: 1.2rem;
    color: var(--white-color);
    text-decoration: none;
    text-transform: uppercase;

    @include respondMax(laptopXS) {
      margin: 0.75rem 0;
    }
  }

  &__login:hover,
  &__login:active {
    background: var(--dark-primary-color);
  }

  &__login-icon {
    height: 1.6rem;
    width: 1.6rem;
    fill: var(--white-color);
  }

  &__search {
    height: 100%;
    display: flex;
    align-items: center;
  }

  &__burder {
    display: none;
    justify-self: end;

    @include respondMax(laptopXS) {
      display: block;
    }
  }
}
