.main {
  display: grid;
  column-gap: 2rem;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;

  @include respondMin(laptopS) {
    grid-template-columns: 1fr 28.55rem;
    grid-template-rows: 1fr;
  }

  padding: 0 1.5rem;
}
