.wrapper {
  &--dark-grey {
    background: var(--dark-grey-blue-color);
  }

  &--light-grey {
    background: var(--light-grey-color-1);
  }

  &--main {
    display: grid;
    grid-template-rows: 1fr auto;
  }
}
