@import '../../../scss/abstracts/mixins';
@import '../../../scss/abstracts/variables';

.menu-list-item {
  display: flex;
  position: relative;

  &--navbar {
    @include respondMax(laptopXS) {
      flex-direction: column;
    }
  }
}
